body {
    font-family: 'Sacramento';font-size: 22px;
}

.card {
    border-radius: 10px;
    background-color: aquamarine;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

img {
    width: 15rem;
    height: 15rem;
    border-radius: 20px;
}